DATABASE_URI=mongodb://localhost:27017/pxlhut-auth-task
JWT_SECRET=supersecret
JWT_EXPIRES_IN=3600s
JWT_REFRESH_SECRET=refreshsupersecret
JWT_REFRESH_EXPIRES_IN=604800s

STRIPE_SECRET_KEY=PUT_YOUR_STRIPE_SECRET_KEY_HERE_THANK_YOU